    
    
    
    header {
        background-color: blue;
    
    }
    
    #name {
        color: white;
        padding-left: 10%;
    }
    
    #headerInput{
        position: fixed;
        top: 0;
        right: 0;

    }


  #centered {
    text-align: center;
    width: 50%;
    padding: 20px;
   }

   footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width:100%;
    padding: 10px;
    background-color:gray;
    color: white;
   }


   .row {
    padding: 15%;
   }

   .table-container {
    width: 80%;
    margin: auto; 
    padding: 10px;
   }