
/* || Header */


header {
    background-color:brown;
    border-color:silver;
}


/* || General styles */


body{
  background-color:antiquewhite; 
  padding: 0;
  margin:0;
    }

    
 #wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;

 }

#phoneBookInfo {
    text-align: center;
    width: 50%;
    padding: 20px;
   }


.table {
    width: 80%;
    margin: auto; 
    padding: 10px;
    background-color:white;
   }



.secondButton{
    background-color:slategrey;
    color: white;
    border-radius: 2px;
    border: none;
    width: 100%;
    padding: 2%;

}

.tableEntryButton{
    background-color:coral;
    color: white;
    border-radius: 2px;
    border: none;
    width: 15%;
    padding: 7px;
    margin: 1%;
}

#toggleButton {
    background-color:green;
    color: white;
    border-radius: 2px;
    border: none;
    width: 100%;
}

#notification {
    background-color:lightskyblue;
    color: black;
    border: dotted;
    width: 30%;
    padding: 3%;
    ;
}

/* || Typography */


p,
h2,
h3,
h4,
th,
tbody,
input {
    font-family:monospace;
    color: darkslategray;
}

h1 {
    font-family:monospace;
    color: white;
    margin-top:0;
}


/* || Font Sizes */



p {
    font-size:17px;
}


h2 {
    font-size:30px;
}

tbody {
   font-size: 17px;
}

input {
    font-size:17px;
}

th {
    font-size:17px;
}
